---
import { Quote, Download, Share } from 'lucide-react';
import type { Genome, GenomeNote } from '~/types/pubs';
import { Button } from '~/components/ui/button';
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from '~/components/ui/card';
import { getTechnicalReviews, getManualReviews } from '~/lib/populateData';
import TechnicalReviewCard from '~/components/TechnicalReviewCard';
import ManualReviewCard from '~/components/ManualReviewCard';
import PermissionToSequenceCard from './PermissionToSequenceCard';
import ConflictsCard from './ConflictsCard';
import DataAvailabilityCard from './DataAvailabilityCard';
import { getProtocolsFromGenome } from '~/lib/genomeHelpers';

interface Props {
	genome: Genome;
	genomeNote: GenomeNote;
}

const { genome, genomeNote } = Astro.props;
const technicalReviews = getTechnicalReviews(genomeNote.id);
const manualReviews = getManualReviews(genomeNote.id);
const protocols = getProtocolsFromGenome(genome.id);
---

<div class="">
	<div class="mb-6 border-neutral-300 rounded flex justify-end space-x-2">
		<Button variant="outline" size="sm"><Quote />Cite</Button>
		<Button variant="outline" size="sm"><Download />Download</Button>
		<Button variant="outline" size="sm"><Share />Share</Button>
	</div>
	<Card className="mb-8">
		<CardHeader>
			<CardTitle>Reviews</CardTitle>
			<CardDescription>
				All genome notes undergo automated technical reviews, with manual reviews added as
				needed.
			</CardDescription>
		</CardHeader>
		<CardContent>
			{
				technicalReviews.map((technicalReview) => {
					return (
						<TechnicalReviewCard
							genomeNote={genomeNote}
							technicalReview={technicalReview}
							client:load
						/>
					);
				})
			}
			{
				manualReviews.map((manualReview) => {
					return <ManualReviewCard manualReview={manualReview} client:load />;
				})
			}
		</CardContent>
	</Card>
	<Card className="mb-8">
		<CardHeader>
			<CardTitle>Assertions</CardTitle>
			<CardDescription> Statements made by the contributing team. </CardDescription>
		</CardHeader>
		<CardContent>
			<PermissionToSequenceCard client:load />
			<ConflictsCard client:load />
			<DataAvailabilityCard genome={genome} genomeNote={genomeNote} client:load />
		</CardContent>
	</Card>
	<Card className="mb-8">
		<CardHeader>
			<CardTitle>Protocols Used</CardTitle>
			<CardDescription> Linked, re-usable protocols used by this genome note. </CardDescription>
		</CardHeader>
		<CardContent>
			{
				protocols.map((protocol) => {
					return (
						<a
							class="block border border-neutral-200 p-2 mb-2 rounded truncate"
							href={`/protocol/${protocol.slug}`}
						>
							{protocol.name}
						</a>
					);
				})
			}
		</CardContent>
	</Card>
</div>
