---
import { Quote, Download, Share } from 'lucide-react';
import type { Genome, GenomeNote } from '~/types/pubs';
import { Button } from '~/components/ui/button';
import { Card, CardContent, CardDescription, CardHeader, CardTitle } from '~/components/ui/card';
import { getTechnicalReviews, getManualReviews } from '~/lib/populateData';
import TechnicalReviewCard from '~/components/TechnicalReviewCard';
import ManualReviewCard from '~/components/ManualReviewCard';
import PermissionToSequenceCard from './PermissionToSequenceCard';
import ConflictsCard from './ConflictsCard';
import DataAvailabilityCard from './DataAvailabilityCard';
import { getProtocolsFromGenome } from '~/lib/genomeHelpers';
import GrantInformationCard from './GrantInformationCard';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { ChevronLeftIcon, ChevronRightIcon } from '@radix-ui/react-icons';

interface Props {
	genome: Genome;
	genomeNote: GenomeNote;
}

const { genome, genomeNote } = Astro.props;
const technicalReviews = getTechnicalReviews(genomeNote.id);
const manualReviews = getManualReviews(genomeNote.id);
const protocols = getProtocolsFromGenome(genome.id);
const images = import.meta.glob<{ default: ImageMetadata }>(
	'~/assets/species/*.{jpeg,jpg,png,gif,webp}'
);
---

<div class="">
	<div class="mb-6 border-neutral-300 rounded flex justify-end space-x-2">
		<Button variant="outline" size="sm"><Quote />Cite</Button>
		<Button variant="outline" size="sm"><Download />Download</Button>
		<Button variant="outline" size="sm"><Share />Share</Button>
	</div>

	<Card className="mb-8">
		<CardHeader>
			<CardTitle>Reviews</CardTitle>
			<CardDescription>
				All genome notes undergo automated technical reviews, with manual reviews added as
				needed.
			</CardDescription>
		</CardHeader>
		<CardContent>
			{
				technicalReviews.map((technicalReview) => {
					return (
						<TechnicalReviewCard
							genomeNote={genomeNote}
							technicalReview={technicalReview}
							client:load
						/>
					);
				})
			}
			{
				manualReviews.map((manualReview) => {
					return <ManualReviewCard manualReview={manualReview} client:load />;
				})
			}
		</CardContent>
	</Card>
	<Card className="mb-8">
		<CardHeader>
			<CardTitle className="flex justify-between">
				<div>Images and Figures</div>
				<div class="flex">
					<ChevronLeftIcon />
					<ChevronRightIcon />
				</div>
			</CardTitle>
		</CardHeader>
		<CardContent className="flex justify-center">
			<figure class="flex flex-col items-center">
				<Image
					class="rounded"
					height={200}
					src={images[genome.image]()}
					alt={genome.commonName}
				/>
				<figcaption class="text-center text-sm leading-tight my-1 opacity-70">
					{genome.imageAttribution}
				</figcaption>
			</figure>
		</CardContent>
	</Card>
	<Card className="mb-8">
		<CardHeader>
			<CardTitle>Assertions</CardTitle>
			<CardDescription> Statements made by the contributing team. </CardDescription>
		</CardHeader>
		<CardContent>
			<PermissionToSequenceCard client:load />
			<DataAvailabilityCard genome={genome} genomeNote={genomeNote} client:load />
			<ConflictsCard client:load />
			<GrantInformationCard client:load />
		</CardContent>
	</Card>
	<Card className="mb-8">
		<CardHeader>
			<CardTitle>Protocols Used</CardTitle>
			<CardDescription>
				Linked, re-usable protocols used by this genome note.
			</CardDescription>
		</CardHeader>
		<CardContent>
			{
				protocols.map((protocol) => {
					return (
						<a
							class="block border border-neutral-200 p-2 mb-2 rounded truncate"
							href={`/protocol/${protocol.slug}`}
						>
							{protocol.name}
						</a>
					);
				})
			}
		</CardContent>
	</Card>
</div>
