---
import Layout from '~/layouts/Layout.astro';
import projects from '~/data/projects.json';
import genomeNotes from '~/data/genomeNotes.json';
import genomes from '~/data/genomes.json';
import projectMembers from '~/data/projectMembers.json';
import ProjectHeader from '~/components/ProjectHeader.astro';
import { getGenomeNote, getGenome, getAuthor } from '~/lib/populateData';

export function getStaticPaths() {
	return projects.map((project) => {
		return { params: { slug: project.slug } };
	});
}
const { slug } = Astro.params;
const activeProject = projects.find((project) => {
	return project.slug === slug;
});
if (!activeProject) {
	return null;
}

const activeProjectMembers = projectMembers.filter((projectMember) => {
	return projectMember.projectId === activeProject.id;
});
const populatedProjectMembers = activeProjectMembers.map((projectMember) => {
	const author = getAuthor(projectMember.authorId);
	return { ...projectMember, author };
});
---

<Layout title={`${activeProject.name} · UGNR`}>
	<main class="">
		<ProjectHeader project={activeProject} />
		<section class="w-content-narrow min-h-96">
			{
				populatedProjectMembers.map(({ author }) => {
					return (
						<div class="rounded overflow-hidden border border-neutral-300 p-4 mb-6 max-w-screen-md">
							<div class="text-lg font-bold">
								<a href={`/author/${author.slug}`}>{author.name}</a>
							</div>
							<div class="space-y-1">
								<div>
									<span class="font-bold uppercase opacity-50 text-sm pr-2">
										Affiliation:
									</span>
									{author.affiliation}
								</div>
								<div>
									<span class="font-bold uppercase opacity-50 text-sm pr-2">
										ORCID:
									</span>{' '}
									{author.orcid}
								</div>
							</div>
						</div>
					);
				})
			}
		</section>
	</main>
</Layout>
